!!!
%html{html_attrs('en-us')}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}
  %body
    %form{ :action => '/', :method => 'post' }
      %textarea{ :rows => 10, :cols => 120, :name => 'code' }= params[:code]
      %input{ :type => 'submit', :value => 'run' }
    
    %em= @result if @result
