#graph {
  width:1050px;
  height:1000px;
}

.node {
  border: 1px solid #555;
  background-color: #ccc;
  color:#222;
  cursor:pointer;
  padding:2px;
  font-size: 60% !important;
}

.hidden {
  display:none;
}
