!!!
%html{html_attrs('en-us')}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}
  
    %link{ :rel => 'stylesheet', :href => '/stylesheets/reset.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/terminal.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/visualizer.css', :type => 'text/css' }

    /[if IE] 
      %script{ :type => 'text/javascript', :src => 'javascripts/excanvas.js' }

    %script{ :type => 'text/javascript', :src => 'javascripts/jquery-1.3.2.min.js' }
    %script{ :type => 'text/javascript', :src => 'javascripts/terminal.js' }

    %script{ :type => 'text/javascript', :src => 'javascripts/jit.js' }

    %script{ :type => 'text/javascript', :src => 'javascripts/data.js' }
    %script{ :type => 'text/javascript', :src => 'javascripts/visualizer.js' }
    %title Gremlin Console
  %body
    #header
      %p 
        %img{ :src => 'images/gremlin-logo.png' }
      %p Gremlin Web Console
      %p Layout based on Mongulator (http://github.com/banker/mongulator)
    
    #terminal
      %p Gremlin 0.1
      %p type "help" for help

    #graph{ :style => 'margin: auto;' }
